footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 $mgn-wide;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $footer-height;
	border-top: 6px solid $clr-light-grey;
	font-size: 0.875em;
	
	p {
	    margin-bottom: 0;
	}
}