footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $mgn-thin;
	width: 100%;
	border-top: 6px solid $clr-light-grey;
	font-size: 0.875em;
	
	p {
	    margin-bottom: 0;
	}
}