html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex: 1;
    
    @include break-mob {
        flex-direction: row;
        flex: 1;
    }
}

main {
    @extend %clearfix;
    
    flex: 1;
    padding: 0 $mgn-thin;
    margin: 0 0 $mgn-wide;
    
    @include break-mob {
        flex: 1;
        padding: 0 $mgn-wide;
    }
}

.content {
    max-width: 75ch;
    margin: 0 auto $mgn-wide;
    
    .full-width {
        @extend %fullwidth;
    }
}

.list-post {
    margin-bottom: $mgn-wide;
}

.page-grid {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr ) );
    grid-auto-rows: 1fr;
    grid-gap: $mgn-wide;
    
    .grid-post {
        display: block;
        background-color: $clr-light-grey;
        background-size: cover;
        background-position: center center;
        position: relative;
        
        &::before {
            content: "";
            float: left;
            padding-top: 100%;
        }
        
        @include break-tab {
            &.featured {
                grid-column-end: span 2;
                grid-row-end: span 2;
            }
        }
                        
        & a {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background: linear-gradient( 20deg, rgba($clr-beta-1, 0.95), rgba($clr-alpha-2, 0.75) );
            opacity: 0;
            transition: opacity 0.25s ease;
            
            &:hover,
            &:active {
                opacity: 1;
            }
        }
    }
}
