main {
    img, figure {
        @extend %clearfix;
        max-width: 100%;
        height: auto;
        clear: both;
        vertical-align: middle; // fixes space under image when part of figure
        
        &.alignnone,
        &.aligncenter,
        &.alignright,
        &.alignleft {
            margin: 0 calc( ( -50vw + 40px ) + 50% ) $mgn-wide;
            max-width: calc( 100vw - 80px );
        }
        
        &.size-full {
            width: 9999px; // override wordpress added width to force full width images
        }
        
        @include break-mob {
            &.alignright {
                float: right;
                margin: $mgn-thin calc( ( -50vw + 40px ) + 50%) $mgn-wide $mgn-wide;
                max-width: calc( 50vw - 40px );
            }
            &.alignleft {
                float: left;
                margin: $mgn-thin $mgn-wide $mgn-wide calc( ( -50vw  + 40px ) + 50%);
                max-width: calc( 50vw - 40px );
            }
        }
        
        &.screenshot {
            padding-top: 30px;
            padding-bottom: 10px;
            background-color: $clr-mid-grey;
            background-image: url( 'assets/screenshot-bg.svg' );
            background-repeat: no-repeat;
            background-size: 32px 8px;
            background-position: 10px 10px;
            border: 2px solid $clr-mid-grey;
            border-radius: 6px;
        }
    }
    
    .image-block {
        @include break-mob {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 0 calc( ( -50vw + 40px ) + 50% ) $mgn-wide;
            max-width: calc( 100vw - 80px );
        }
        
        & > img, figure {
            @include break-mob {
                float: none; // clear any floating from wayward classes
                flex: auto;
                width: 0;
                max-width: 100%;
                margin: 0;
                
                &:not(:last-child) {
                    margin-right: $mgn-thin;
                }
            }
        }
    }
}

.video-container {
    position: relative;
    padding-bottom: calc( 100% * 0.5625 );
    height: 0;
    overflow: hidden;
    margin: 0 auto $mgn-wide;
    max-width: 100%;
    clear: both;
    
    @include break-mob {
        max-width: calc( 100vw - 80px );
        padding-bottom: calc( ( 100vw - 40px ) * 0.5625 );
        margin: 0 calc( ( -50vw + 40px ) + 50% ) $mgn-wide;
    }
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

hr {
    display: block;
    height: 1px;
    background-color: $clr-grey;
    border: 0;
    margin: $mgn-wide 0;
}

.avatar {
    display: inline-block;
    border-radius: 50%;
    background-image: url('./assets/avatar-default.png');
    background-size: cover;
    background-repeat: no-repeat;
}

%icon {
    display: inline-block;
    
    width: 16px;
    height: 16px;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    
    &.x8 {
        width: 8px;
        height: 8px;
    }
    &.x24 {
        width: 24px;
        height: 24px;
    }
    &.x32 {
        width: 32px;
        height: 32px;
    }
    &.x48 {
        width: 48px;
        height: 48px;
    }
    
    &.photoshop, &.ps {
        background-image: url('./assets/icons/i-photoshop.svg');
    }
    &.illustrator, &.il {
        background-image: url('./assets/icons/i-illustrator.svg');
    }
    &.aftereffects, &.ae {
        background-image: url('./assets/icons/i-afterevvects.svg');
    }
    &.animate, &.an {
        background-image: url('./assets/icons/i-animate.svg');
    }
    &.dreamweaver, &.dw {
        background-image: url('./assets/icons/i-dreamweaver.svg');
    }
    &.indesign, &.id {
        background-image: url('./assets/icons/i-indesign.svg');
    }
    &.premiere, &.pr {
        background-image: url('./assets/icons/i-premiere.svg');
    }
    &.experiencedesign, &.xd {
        background-image: url('./assets/icons/i-xd.svg');
    }
    &.twitter, &.twt, &.tweet {
        background-image: url('./assets/icons/i-twitter.svg');
    }
    &.youtube, &.yt {
        background-image: url('./assets/icons/i-youtube.svg');
    }
    &.facebook, &.fb {
        background-image: url('./assets/icons/i-facebook.svg');
    }
    &.google {
        background-image: url('./assets/icons/i-google.svg');
    }
    &.tumblr {
    background-image: url('./assets/icons/i-tumblr.svg');
    }
    &.instagram, &.insta {
        background-image: url('./assets/icons/i-instagram.svg');
    }
    &.pinterest, &.pin {
        background-image: url('./assets/icons/i-pinterest.svg');
    }
    &.linkedin {
        background-image: url('./assets/icons/i-linkedin.svg');
    }
    &.etsy {
        background-image: url('./assets/icons/i-etsy.svg');
    }
    &.dropbox {
        background-image: url('./assets/icons/i-dropbox.svg');
    }
    &.email, &.mail {
        background-image: url('./assets/icons/i-email.svg');
    }
    &.download {
        background-image: url('./assets/icons/i-download.svg');
    }
    &.pinterest, &.pin {
        background-image: url('./assets/icons/i-pinterest.svg');
    }
    &.wordpress, &.wp {
        background-image: url('./assets/icons/i-wordpress.svg');
    }
    &.menu {
        background-image: url('./assets/icons/i-menu.svg');
    }
    &.close {
        background-image: url('./assets/icons/i-close.svg');
    }
}

.project-media {
    display: flex;
    flex-wrap: wrap;
    
    .icon {
        @extend %icon;
        
        &:not(:last-child) {
            margin-right: 1em;
        }
    }
}

p, a, h1, h2, h3, h4, h5, h6 {
    &.icon {
        position: relative;
        margin-left: 1.2em;
        
        &::before {
            @extend %icon;
            
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            width: 1em;
            height: 1em;
            margin-left: -1.2em;
        }
    }
}

.icon-list {
    div {
        &.icon {
            @extend %icon;
        }
    }
    
    :not(:last-child) {
        margin-right: 1em;
    }
}
